.skill {
    display: flex;
    justify-content: space-around;
    padding: 7rem 0rem;
    background: #2c4173;
    margin: 11rem 0rem;
    flex-direction: column;
}
.fourth-container h3{
    text-transform: uppercase;
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
    font-weight: 600;
    min-width: 9rem;
}
.skill-contain{
    width: 50%; /* Full width */
}
.skillset{
    background-color: #fff;
    text-align: right;
    padding: 1rem ;
}
.fourth-container{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}