.about{
    display: block;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 11rem 0rem;
    transition: ease-in-out 0.75s;
}
.about h2{
    font-size: 2rem;
    color: white;
    padding-bottom: 3px;
    border-bottom: 1px solid white;
    width: fit-content;
}
.about p{
    font-size: 1.2rem;
    color: white;

}