.navbar {
  display: flex;
  position: fixed;
  width: 83%;
  padding: 0.5rem 1.5rem;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.navbar nav ul {
  display: flex;
  transition: ease-out 0.75s;
  margin-left: 20rem;
}
.navbar .logo {
  display: none;
}
.navbar nav ul li {
  list-style: none;

  margin-right: 7rem;
}
.navbar nav ul li a {
  color: white;
  font-size: 14.2px;
  text-decoration: none;
}
.sticky {
  background: #32456e;
  transition: ease-in-out 0.75s;
  width: 100%;
}
.sticky .logo {
  display: block;
  transition: ease-in 0.75s;
}

.sticky nav ul {
  display: flex;
  margin-left: 38rem;
}
.sticky nav ul li {
  margin-right: 1rem;
}

.sticky img#logo{
  height: 2rem;
}