.portname{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.portfolio-image {
    background: linear-gradient(rgb(53, 62, 94),#576fa3);
    z-index: 1;
    padding: 13px;
    overflow-y: clip;
    border-radius: 14rem;
    margin-left: 3rem;
}
.portfolio-image img{
    height: 20rem;
}